<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>jp.co.chat.HelloAppEngine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sheets</servlet-name>
    <servlet-class>jp.co.chat.service.Sheets</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Callback</servlet-name>
    <servlet-class>jp.co.chat.service.Callback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Authorize</servlet-name>
    <servlet-class>jp.co.chat.service.Authorize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sheets</servlet-name>
    <url-pattern>/sheets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Callback</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Authorize</servlet-name>
    <url-pattern>/authorize</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
